# Homde Directory

RewriteBase /


# DISABLE INDEXING

Options -Indexes


# BEGIN GZIP

<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/jpg image/png
</ifmodule>

# END GZIP
